
p#circle {
    position: relative;
    display:block;
    height: 5px;
    width: 16px;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 0 0 90px 90px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  
  .fill:hover {
    color: whitesmoke;
  }
  
  .fill:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 2s ease-in;
  }
  
  .fill:hover:before {
    top: 0;
  }

  p#saucer{
    border-radius: 0 0 90px 90px;
    height: 4px;
    width: 31px;
    border: 2px solid;
    position: relative;
    bottom: 18px;
    left: 5px;
  }
  p#handle{
      position:relative;
      border: 2px solid;
      width: 8px;
      height: 10px;
      border-radius: 7px;
      top: 31px;
      right: 3px;
  }
  