p.square{
    font-weight: bold;
    border: solid; 
    width:50%;
}

h1{
    text-align:center;
}

div.move{
    float:right;
}
strong {
    font-size: 2rem;
}
i {
    font-size: 1.25rem;
    color:grey;
}
