

p.square{
    font-weight: bold;
    border: solid; 
    width:50%;
}

h1{
    text-align:center;
}

div.move{
    width:300px;



}
strong {
    font-size: 2rem;
}
i {
    font-size: 1.25rem;
    color:grey;
}
p {
    width:250px;
}
/*Taking out 250 rearranges the coffees list*/
div {
    width: 250px;
    float: left;
}
/*
div{
    width:1279px;
}
*/
/*Taking out 250 rearranges the coffees list*/

div#myDiv.container {
    max-width: 570px;
    position: relative;
    left: 10%;
    bottom: 73px;
}
h6{
    font-weight: bold;
}

input#searchBar{
    border-radius: 5px 5px 5px 5px;
    width:300px;
}
button.searchButton.btn.btn-primary{
    width:300px;
    background-color:#08c5d1;
}
div.choices{
   width:300px;



}
select{
    width: 300px;
}

div.example:hover{
    color:#08c5d1;
}

div.moveThere{
    width:300px;


}
div.choicest{
   width:300px;


}
input#searchBart{
    border-radius: 5px 5px 5px 5px;
    width:300px;
}
hr.moveMe{
    position:relative;
    top: 227px;
    left: 23%;
    width: 325px;
}
h2.notFound{
    text-align:center;


}

nav.navbar.navbar-expand-lg{
    background-color:#430c05
    ;
}
a.navbar-brand{
    color:#08c5d1
    ;
}
a.nav-link{
    color:#08c5d1
    ;

}
img {
    position: relative;
    bottom: 2px;
    right: 3px;
}
/*Imported changes from Grid.html*/

#myFoot{
    position:absolute;
    bottom:0;
    width:100%;
    height:2.5rem;
    
}
small.text-center{
    position:relative;
    left:45%;
}
div.example{
    width:300px;
}
div.row{
    position:relative;
    width:1200px;

}

button.searchButton.btn.btn-primary.nurple{
    position:relative;
    top: 30px;
    left: 39%;
    background-color:#08c5d1;
}
h1.adjust{

    text-align:center;
}

img.plus{
    position:relative;
}


/*Imported changes from Grid.html*/





/*500px by 435px */
@media screen and (max-width: 500px){
    div.move {
        position: relative;
        left:8%;
        bottom: 230px;
       
    }
    div.choices{
        position:relative;
        bottom:242px;
        left:8%;
        
    }
    div.choicest{
        position: relative;
       left:54%;
        bottom: 422px;
        
    }
    div.moveThere{
        position:relative;
        left:54%;
        bottom: 410px;
    }
    div#myDiv.container {
        max-width: 450px;
        position: relative;
        left: 10%;
        top: 270px;
    }
    
    strong {
        font-size: 1.5rem;
    }
    i {
        font-size: 1.25rem;
        color:grey;
    }
    div.example{
       
        width:199px;
    }
    div#myDiv.col-xl-7{
       width:500px;
       top:230px;
    }
    select{
        width: 150px;
    }
    input#searchBar{
        border-radius: 5px 5px 5px 5px;
        width:150px;
    }
    button.searchButton.btn.btn-primary{
        width:150px;
        background-color:#08c5d1;
    }
    hr.moveMe{
       display: none;
    }
    input#searchBart{
        border-radius: 5px 5px 5px 5px;
        width:150px;
    }
    h1{
        font-size: 2rem;
        width: 500px;
    }
    hr{
        float: left;
        width: 500px;
    }
    div#content-wrap.row{
        position:relative;
        width:500px;
    }
    div#page-container.container{
        position:relative;
        height:550px;
    }
    #myFoot{
        position:absolute;
        top:665px;
        width:100%;
        height:2.5rem;
        
    }
    div.col-xl-5{
        position:relative;
    }
    button.searchButton.btn.btn-primary.nurple{
        position: relative;
        left: 13%;
        top: 12px;
        background-color:#08c5d1;
    }
    h1.adjust{
        font-size:2.5rem;
        text-align:center;
    }
    h2.notFound{
        text-align:center;
        font-size:1rem;
        right:31%;
        position:relative;
    
    }
}

form{
    position:relative;
    border: solid;
    width: 300px;
    height: 250px;
    left:36%;
}


/* Format A is completed*/
/* NEXT OBJECTIVE: REPLACE ADD A COFFEE WITH A BUTTON/QUILL TO POPULATE THE OPTION TO ADD A COFFEE */
