p.square{
    font-weight: bold;
    border: solid; 
    width:50%;
}

h1{
    text-align:center;
}

div.move{
    float:right;
    position: relative;
    left: 0%;
    top:100px;
}
strong {
    font-size: 2rem;
}
i {
    font-size: 1.25rem;
    color:grey;
}
p {
    width:250px;
}
div {
    width: 250px;
    float: left;
}
div#myDiv.container {
    max-width: 570px;
    position: relative;
    left: 10%;
    bottom: 73px;
}
h6{
    font-weight: bold;
}

input#searchBar{
    border-radius: 5px 5px 5px 5px;
    width:300px;
}
button.searchButton.btn.btn-primary{
    width:300px;
}
div.choices{
    position:relative;
    float:right;
    top:43px;
    right:19.5%;
}
select{
    width: 300px;
}

div.example:hover{
    color:lightblue;
}

div.moveThere{
    position:relative;
    left: 41.5%;
    top: 311px;
}
div.choicest{
    position: relative;
    left: 61%;
    top: 250px;
}